
body {
  background-color:   black;
}
li{
  color:blue;
}
p{
color: #dc321f;
}
p2{
color: #e65c36 ;
}
h1{
color: #FFC300 ;
}
h2{
color:red;
}
strong {
color:orange;
}
p3 {
  color:yellow;
  size:50;
}
button {
  background-color: yellow;
  font-size: 16px;
  color:red;
}
